#root {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100px;
}

#heroName {
  margin-top: 20px;
}

img {
  background-image: url("superheroes.jpeg");
  width: 30px;
  height: 35px;
  transform: scale(2, 2);
  margin-top: 40px;
}

/* row 1 */
#Batman {
  background-position: left -3px top -3px;
}

#Superman {
  background-position: left -65px top -3px;
}

#Flash {
  background-position: left -129px top -3px;
}

#Aquaman {
  background-position: left -160px top -3px;
}

#Green_Arrow {
  background-position: left -256px top -3px;
}

#Hawkman {
  background-position: left -288px top -3px;
}

/* row 2 */
#Robin {
  background-position: left -3px top -41px;
}

#Supergirl {
  background-position: left -65px top -41px;
}

#Green_Lantern {
  background-position: left -97px top -41px;
}

#Cyborg {
  background-position: left -160px top -41px;
}

#Shazaam {
  background-position: left -224px top -41px;
}

/* row 3 */
#Batgirl {
  background-position: left -3px top -79px;
}

#Firestorm {
  background-position: left -129px top -79px;
}

#Zatanna {
  background-position: left -288px top -79px;
}

/* row 4 */
#Constantine {
  background-position: left -3px top -115px;
}
